/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
HEADER STYLES
*********************/

.header {
	nav {
		.navbar-brand {
			img {
				width: 187px;
			}
		}
		.navbar-collapse {
			ul.nav {
				margin-top: 1.5em;
				>li {
					>a {
						padding: 0 1.5em;
					}
				}
			}
		}
	}
}

.footer{
	nav{
		font-size:0.8em;
	}
}

.footer_button{
	a {
		//line-height: 40px;
		//padding: 0;
	}
}


.top-three {
	article {
		.thumb-wrap {
			.top-three-thumb {
				width: 140px;
				height: 140px;
				&:before {
					height: 140px;
					background-position: -40px -154px;
				}
			}
		}
		.top-three-number {
			line-height: 1.4em;
			top: -15px;
			left:0px;
			padding-left:0;
		}
		figcaption {
			top: 1em;
		}
	}
}


.latest-articles {
	article {
		&:nth-of-type(3n+1) {
			clear: none;
		}
		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

.featured {
	.people-wrapper {
		.people-all {
			.people-all-container {
				padding: 15% 15% 0 15%;
				h1 {
					font-size: 3.125em;
				}
			}
		}
	}
}

.category-content-wrapper {
	article {
		//min-height: 290px;
	}
}

.category-content-wrapper.alpha-category-content-wrapper article {
	//min-height: 220px;
}